API_PORT=4000
JWT_SECRET=replace_with_a_long_random_secret
# Use "postgres" when running with docker compose.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=vitalverve
